@page
@model IndexModel
@using MovieFlex;
@{
    ViewData["Title"] = "Home page";
    List<Result> searchResults = (List<Result>) ViewData["searchResult"];
}
<div class="text-center">
    <div class="bannerContainer">
        <div class="container">
            <form action="" method="get" class="searchBox" role="search">
                <input asp-for="searchString" type="text" placeholder="Search Movies" aria-placeholder="Search Movies" />
                <input type="submit" value="Search" class="submitBtn" aria-label="search" aria-description="search results will appear below" />
            </form> 
        </div>
    </div>

    @if (Model.SearchCompleted)
    {
        <div class="container" id="searchResultContainer">
            <h1 class="sub-heading"> Movie List Based on your Search</h1>
                @if ((searchResults != null) && (searchResults.Any()))
                {
                    foreach (Result movie in searchResults)
                    {
                    @if ((@movie.Image != null))
                    {
                        <div class="card movie-card">
                            <div class="movie-img-container"><img src = "@movie.Image" class="card-img-top movie-card-img" alt="image of @movie.Title"></div>
                            <div class="card-body">
                                <h2>@movie.Title</h2>
                                @movie.Description
                            </div>
                        </div>
                    }
                    }
                    <script>
                        document.getElementById('searchResultContainer').scrollIntoView({
                            behavior: 'smooth'
                        });
                    </script>
                }
        </div>
    }
   
</div>
