@page
@model IndexModel
@using MovieFlex;
@{
    ViewData["Title"] = "Home page";
    List<Result> searchResults = (List<Result>) ViewData["searchResult"];
}

<style>
    .movie-card {
        display:inline-block;
        margin: 10px;
        border-radius:16px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }

        .movie-card .movie-img-container {
            overflow: hidden;
    }
    .movie-card-img:hover {
        transform: scale(1.2);
        transition: transform 0.4s ease-in-out;
    }
</style>
<div class="text-center">
    <div class="bannerContainer">
        <div class="container">
            <form action="" method="get" class="searchBox">
                <input asp-for="searchString" type="text" placeholder="Search Movies" />
                <input type="submit" value="Search" class="submitBtn" />
            </form> 
        </div>
    </div>

    @if (Model.SearchCompleted)
    {
        <div class="container" id="searchResultContainer">
            <h1 class="sub-heading"> Movie List Based on your Search</h1>
                @if ((searchResults != null) && (searchResults.Any()))
                {
                    foreach (Result movie in searchResults)
                    {
                    @if ((@movie.Image != null))
                    {
                        <div class="card movie-card" style="width: 18rem; height:32rem;">
                            <div class="movie-img-container"><img src = "@movie.Image" class="card-img-top movie-card-img" alt="image of @movie.Title" style="width: 18rem; height:20rem;"></div>
                            <div class="card-body">
                                <h2>@movie.Title</h2>
                                @movie.Description
                            </div>
                        </div>
                    }
                    }
                    <script>
                        document.getElementById('searchResultContainer').scrollIntoView({
                            behavior: 'smooth'
                        });
                    </script>
                }
        </div>
    }
   
</div>
