@page
@model IS7024_FinalProj_MovieFlex.Pages.Top250MoviesModel
@using Movie
@{
    ViewData["Title"] = "Top 250 Movies";
    MovieList movies = (MovieList)ViewData["Movies"];
}


<div class="text-center container">
    <h1 class="sub-heading">List of top 250 movies.</h1>
    <table id="movie-datatable" class="table table-dark table-striped table-responsive">
        <caption>List of Top 250 movies</caption>
        <thead>
        <tr>
            <th></th>
            <th class="align-initial">Rank & Title</th>
            <th>Release Year</th>
            <th>Rating</th>
        </tr>
        </thead>
        <tbody>
        @{
            foreach (Item item in movies.Items)
            {
                <tr>
                    <td>
                        <img src="@item.Image" width="100" height="100" alt="poster of @item.Title" />
                    </td>
                    <td class="align-initial">
                        <span>@item.Rank . </span>@item.Title
                    </td>
                    <td>@item.Year</td>
                    <td>@item.ImDbRating</td>                
                </tr>
            }
        }
        </tbody>
    </table>
</div>

