@page
@model IS7024_FinalProj_MovieFlex.Pages.Top250_tvshowsModel
@using Shows
@{
    ViewData["Title"] = "MovieFlex Top 250 Shows";
    Tvshows tvshows = (Tvshows)ViewData["Tvshows"];
}

<div class="text-center">
    <h1 class="display-4">MoveiFlex Top 250 Shows</h1>
    <br />
    
@if(tvshows.Items.Count >0){
    <table class="table table-dark table-striped">
        <tr>
            <th>Poster</th>
            <th>Rank</th>
            <th>Title</th>
            <th>Release Year</th>
            <th>Rating</th>
        </tr>
        @{
            foreach (Item item in tvshows.Items)
            {
                <tr>
                    <td><img src="@item.Image" width="100" height="100"></td>
                    <td>@item.Rank</td>
                    <td>@item.Title</td>
                    <td>@item.Year</td>
                    <td>@item.ImDbRating</td>
                </tr>
            }
        }
    </table>
    }
    else
    {
        <h6 style="margin-top:9%; margin-bottom:10%">There was an error hitting the API. Please reload the page again!</h6>
    }
</div>